$imagePath: "../images/";
// body {
//     background-image: url('#{$imagePath}bg.jpg');
// }

body {
    border-top: 6px solid $sky-light;
    border-bottom: 8px solid $sea;
}

.topbar {
    margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-variant: small-caps;
}


.navbar-light.navbar-fixed-top > .container {
    border: none;
    margin-bottom: 0;
}

.middle_outer > .container {
    border-top: none;
}

#topbar_modules .box-search {
    margin-top: 8px;
}

.card-header {
    border-bottom: 5px solid $wood;
}

footer.footer .modules {
    background: #030511;
  padding-top: 1rem;
      color: #f4f4f4;
    font-size: 0.9em;
    a, a:visited {
        color: #f4f4f4;
    }
}

.popover {
    background-color: lighten(#030511, 10%);
}

.popover-header {
    background-color: #696969;
    border-bottom: 1px solid #ebebeb;
}

body.fullscreen {
    background: var(--#{$prefix}body-bg);
    .container {
        border: none;
    }
}

// Update for Smartmenus (override tiki_base.css value)
.dropdown-menu.mega-menu a //,
//.dropdown-item
    {
    color: $body-color;
    &:hover {
        color: $link-hover-color;
    }
}

//.dropdown-item {
//    color: $link-color !important;
//}

// Badges
.badge {
//    &.bg-primary,
    &.bg-danger,
    &.bg-secondary,
    &.bg-success,
    &.bg-info,
    &.bg-warning { color: #000 !important; }
}

// Modals
.modal-header .btn-close {
    background-color: #fff;
}

// Breadcrumbs
.breadcrumb {
    display: inline-block;
}

.btn.btn-outline-primary {
    color: lighten($primary, 50%);
    border-color: lighten($primary, 50%);
}

// override for some cypht background colors
.tiki {
    .inline-cypht {
        .folder_list, .content_cell, .compose_page, .message_list, .msg_text, .selected_part,
        .server_content, .profile_content, .user_settings,
        .nux_add_account, .imap_server_setup, .pop3_server_setup {
            background-color: $card-bg;
        }
        .src_name, .content_title, .list_controls {
            background: $card-header-bg;
        }
    }
    &.mobile.tiki-cypht {
        .folder_list {
            background-color: $card-bg;
            .src_name { background: $card-header-bg; }
        }
        .content_title {
            &, .list_controls { background: $card-header-bg; }
        }
    }
}